@using WebAPI.Models.QueueViewModel;
@model StoreQueueViewModel

<h2>Profile - Details</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.EstablishmentId)
        </dt>

        <dd class="col-10">
            @Html.DisplayFor(model => model.EstablishmentId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd class="col-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>

