
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="text-lg-center mt-5 ">About Us</h1>

<div class="text-justify mr-2 about card-body col">
    <p>
        A Full StoQ tem por vontade e função colmatar as necessidades de servir o consumidor,
        prezando a sua segurança e saúde, por meios de informação, com a máxima capacidade que lhe é possível
        de servir.
    </p>
    <p>
        Tendo surgido em contexto de pandemia, provocada pelo vírus responsável pela Covid-19,
        este projeto move-se pelo pretexto de disponibilizar quaisquer relevâncias que façam sentido comunicar,
        tendo o intuito de agilizar e melhorar os serviços comerciais prestados por quaisquer entidades que
        pretendam colaborar com a Full StoQ.
    </p>
    <p>
        Presentemente, a Super Stock procura demonstrar, com conhecimento e
        responsabilidade da plataforma comercial, a quantidade de pessoas que se encontra em fila para acesso ao
        seu espaço físico.
    </p>
    <p>
        É, no fundo, uma ponte de duplo sentido entre o consumidor e a plataforma comercial,
        que visa prestar um serviço de comunicação transparente de modo a satisfazer as duas partes.
    </p>
</div>

<div class="picture">
    <img src=""
</div>