@{
    ViewData["Title"] = "Home Full StoQ";
}

<section class="title">
    <div class="text">
        <h1>  Hello @User.Identity.Name! </h1>
    </div>
</section>
<section class="labels">
    <form class="form-row label">
        <div class="form-group  col-lg-3 col-md-6 col-sm-12 ">
            <select class="form-control form-control-lg">
                <option>Store</option>
            </select>
        </div>
        <div class="form-group  col-lg-3 col-md-6 col-sm-12">
            <select class="form-control form-control-lg">
                <option>Region</option>
            </select>
        </div>
        <button type="button" class="btn btn-default">Search</button>
    </form>
</section>
<section>
    <div class="title-a">
        <h2>
            Main Stores
        </h2>
    </div>
    <section class="images">
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
    </section>
</section>

     



