@{
    ViewData["Title"] = "Home Full StoQ";
}

<section class="title">
    <div class="text">
        <h1>  Hello @User.Identity.Name! </h1>
    </div>
</section>
<section class="labels">
    <form asp-for="Search"></form>
    <form class="row">
        <div class="offset-3 col-3">
            <select class="form-control form-control-lg">
                <option>Store</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-control form-control-lg">
                <option>Region</option>
            </select>
        </div>
        <div class="col-1 p-1">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </form>
</section>
<section>
    <div class="title-a">
        <h2>
            Main Stores
        </h2>
    </div>
    <section class="images">
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
        <img src="~/images/logo-company1.jpg" class="img" />
    </section>
</section>





