
@{
    ViewData["Title"] = "Security";
}
<div class="title-security">
    <h2 class="text-center">Nome da loja - Região @User.Identity.Name!</h2>
</div>

<section class="card-queue  text-center ml-5">
    <div class="card border-dark mb-3" style="max-width: 25rem" ;>
        <div class="card-header text-center">
            Queue
        </div>
        <div class="card-body border-primary" style="width:400px">
            <i class="fas fa-users fa-2x mr-3"></i>
            <a href="#" class="btn btn-primary mb-2">
                Status
            </a>
        </div>
    </div>
</section>
