@using WebAPI.Models.CommercialViewModel;
@model EstablishmentViewModel


@{
    ViewBag.Title = "Create";
}

<div class="card ml-5 mr-5">
    <div class="card-header">
        <div class="float-right">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-home mr-2"></i></a>
            /
            <a asp-action="Index" asp-controller="Establishment">
                <i class="fas fa-copyright mr-2"></i>Establishments
            </a>
            /
            <i class="fas fa-plus mr-2"></i>New

        </div>
        <h4 class="m-0 p-0">New Establishment</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <form asp-action="Create" class="pl-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}